body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    padding: 24px;
}

button {
    background-color: hsl(224, 30%, 27%);
    border: 0;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1rem;
    font-family: inherit;
    width: 100%;
    padding: 15px 0;
}

.general-result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -24px;
    margin-left: -24px;
    margin-right: -24px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.general-result-title {
    font-size: .875rem;
    color:hsla(0, 0%, 100%, 60%);
}

.general-result-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: max-content;
    padding: 24px 30px;
    border-radius: 50%;
    background-image: linear-gradient( hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.general-result-score > .score {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 2rem;
}

.general-result-comment {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
}


.general-result-comment > h3 {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin: 0;
    padding: 36px 0 0 0;
}

.general-result-comment > p {
    color: hsla(0, 0%, 100%, 60%);
    font-size: .875rem;
    text-align: center;
    justify-content: center;
    max-width: 65%;
    margin: 0;
    padding: 10px 0 36px 0;
}

.of-100 {
    color: hsla(0, 0%, 100%, 50%);
}

.summary {
    width: 100%;
    display: inherit;
    flex-direction: inherit;
    margin-bottom: 10px;
}

.summary > h2 {
    color: hsl(224, 30%, 27%, 1);
    font-size: .875rem;
    margin: 0;
    padding: 20px 0;
}

.summary-result {
    margin-bottom: 24px;
}

.result-score {
    margin: 15px 0;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: none;
    align-items: center;
    font-size: .875rem;
    font-weight: 700;
}
#reaction {
    background-color: hsla(0, 100%, 67%, 5%);
    color: hsla(0, 100%, 67%, 100%);
}

#memory {
    background-color: hsla(39, 100%, 56%, 5%);
    color: hsla(39, 100%, 56%, 100%);
}

#verbal {
    background-color: hsla(166, 100%, 37%, 5%);
    color: hsla(166, 100%, 37%, 100%);
}

#visual {
    background-color: hsla(234, 85%, 45%, 5%);
    color: hsla(234, 85%, 45%, 100%);
}

.summary-title {
    padding-left: 10px;
}

.detailed-score {
    color: hsl(224, 30%, 27%, 100%);
}

.over-100 {
    color: hsl(224, 30%, 27%, 50%);
}


.attribution { 
    padding-top: 24px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 650px) {
    body {
        display:flex; 
        flex-direction:column; 
        justify-content:center;
        min-height: 100vh;
    }

    .container {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 0;
        border-radius: 25px;
        box-shadow: 0 10px 10px hsl(224, 30%, 27%, 10%);
        max-width: 700px;
    }

    .general-result {
        margin:  0;
        align-items: center;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        justify-content: space-around;
        max-width: 300px;
       
    }

    .general-result-title {
        font-size: 1.2rem;
    }

    .general-result-score {
        padding: 40px 60px;
    }

    .general-result-score > .score {
        font-size: 3rem;
    }

    .summary {
        padding: 24px;
        padding-left: 10px;
        width: inherit;
    }

    .summary > h2 {
        padding-bottom: 0;
        font-size: 1.1rem;
    }
}