::root {
    --light-red : hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue : hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue : hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    font-family: 'Hanken Grotesk', sans-serif;
}

button {
    background-color: hsl(224, 30%, 27%);
    border: 0;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    padding: 15px 0;
}

.general-result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -24px;
    margin-left: -24px;
    margin-right: -24px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.general-result-title {
    font-size: .875rem;
    color:hsla(0, 0%, 100%, 60%);
}

.general-result-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: max-content;
    padding: 24px 30px;
    border-radius: 50%;
    background-image: linear-gradient( hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.general-result-score > .score {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 2rem;
}

.attribution { 
    padding-top: 24px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}